<div class="content">
    <div class="welcome-content">
        <div class="carousel">
            <div class="container">
              <div class="content-carousel">
                <ul class="pictures" [style.transform]="'translateX(' + (-currentIndex * 100) + '%)'">
                  <li class="element" *ngFor="let picture of pictures">
                    <img #imageElement class="b"[src]="picture.src" [alt]="picture.alt" />
                    <div *ngIf="picture.alt == 'img1'" class="overlay">
                      <h2>Bio International</h2>
                      <h3>Depuis 1997</h3>
                    </div>
                    <div *ngIf="picture.alt == 'img2'" class="overlay-2">
                      <h2>Bioénergéticienne Acmos</h2>
                      <h3>Option Feng Shui Géobiologie</h3>
                    </div>
                    <div *ngIf="picture.alt == 'img3'" class="overlay-3">
                      <h2>Bioénergéticienne</h2>
                      <h3>Coach de vie, Animatrice d’ateliers</h3>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
    </div>
    <div class="title-content-product"><h2>Aperçu de nos produits</h2></div>
    <div class="product-content">
      <div *ngIf="products" class="product-list">
        <div *ngFor="let product of products" class="product-limit">
            <a href="/product/{{product.productId}}" class="product">
                <div *ngIf="product.productImageUrl" class="product-image">
                    <img [src]="product.productImageUrl" alt="Product Image">
                </div>
                <h2 class="product-title">{{ product.productName }}</h2>
            </a>        
        </div>
      </div>
      <div class="goto">
        <button class="style-button" (click)="goToProductList()">voir plus</button>
      </div>
    </div>
    <div *ngIf="isLoggedIn() && getRole() === 'ADMIN'" class="admin-config">
      <div class="title-content-product"><h2>Interface Administrateur</h2></div>
      <a *ngIf="isLoggedIn() && getRole() === 'ADMIN'" href="/admin-procurement">Commande</a>
      <a *ngIf="isLoggedIn() && getRole() === 'ADMIN'" href="/admin-product">Produit Config</a>
      <a *ngIf="isLoggedIn() && getRole() === 'ADMIN'" href="/admin-type-body">Type et Corps Config</a>
      <a *ngIf="isLoggedIn() && getRole() === 'ADMIN'" href="/admin-house">Maison Config</a>
    </div>
</div>