<div class="content">
    <app-picture-content [title]="'Qui je suis ?'" [src]="'../../assets/wallpaper/for-who.jpg'"></app-picture-content>
    <div class='who-content' >
        <h3>Je suis une personne à l’écoute des autres, qui aime la nature et qui comme son nom l’indique (BIO = VIE) aime la vie.</h3>
        <br>
        <p>Je me suis installée en 1997 comme <strong>Bioénergéticienne Acmos option Feng Shui Géobiologie </strong>.
            <br>J’ai continué à me former à la <strong>naturopathie, développement personnel, constellations familiales, yoga du rire</strong>.
            <br>
            <br>
            Depuis, j’ai changé ma façon de travailler. Forte de ces connaissances et de mon expérience,<br> j’utilise aujourd’hui la proprioception et mon savoir ensemble pour vous aider dans votre vie personnelle et professionnelle. 
        </p>
        <p>Je suis coach en produits Bio et naturels pour votre peau et vos cheveux.</p>
        <p>En 2017, au cours d’un voyage en Grèce, j’ai découvert des produits de beauté Bio et naturels pour le corps, le visage et les cheveux. 
            <br>Je les ai trouvé tellement différents des produits Bio que je consommais, tellement plus vivants, que j’ai eu envie de les faire découvrir à ma clientèle.
            <br> Comme je suis toujours à la recherche des meilleurs produits pour chacun en naturopathie, j’ai continué à chercher d’autres cosmétiques Bio et naturels. 
            <br>J’ai ainsi ajouté une jeune marque française à ma gamme de produits de beauté.</p>
        <p>Je suis Bioénergéticienne :
        <br>
        <br>	-Facilitatrice  de projets professionnels et personnels
        <br>	-Animatrice d’ateliers
        <br>	-Coach de vie
        <br>	-Coach de beauté</p>


        
    </div>
    

</div>

