.product-content {

    .create {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 50%;
        background-color: white;
        justify-self: center;
        display: grid;
        
        .style-button {
            justify-self: center;
            width: 136px;
        }
    }

}