
<div class="content">
    <!--<div class="page-title">
        <h1>Pour qui ?</h1>
    </div>-->
    <app-picture-content [title]="'Pour qui ?'" [src]="'../../assets/wallpaper/for-who.jpg'"></app-picture-content>
    <div class="for-who-content">
        <div class="pourqui">
            <br>
            <h2><strong>La bioénergétique s’adresse :</strong></h2>
            <br>
                <p>-	Aux femmes enceintes pour:   </p><ul>- être équilibrée et en harmonie avec le bébé</ul>
                                                     <ul>- pour renforcer les défenses immunitaires naturellement</ul>
                                                     <ul> - pour que le bébé développe ses défenses naturelles intrinsèquement</ul>
                                                     <ul> - pour faciliter l’accouchement…</ul><p></p>
                                                     <br>
                <p>-	Aux enfants de tous âges: dévalorisation, isolement, troubles du comportement, anxiété…</p>
                <br>
                <p>-	Aux adolescents: stress, préparation aux examens, mal être, agitation…</p>
                <br>
                <p>-	Aux adultes: stress de la vie active, manque de confiance, déprime, dévalorisation,<br>fatigue, bien être, douceur de vie, faciliter les projets professionnels et personnels…</p>
                <br>
                <p>-  Personnes âgées: Douleurs, fatigue, perte d’énergie, soutien psychologique…</p>
    
        </div>
    </div>
</div>

