<footer>
    <div class="footerTab">
        <div class="info">
            <a>Contact</a>
            <a>Mention Legal</a>
        </div>
        <div class="social">
            <a href="https://www.instagram.com" aria-label="Compte Instagram de l'entreprise" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com" aria-label="Compte Facebook de l'entreprise" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        </div>
        <div class="credit">
            <p>© 2024 Bio International</p>
        </div>
    </div>
    
</footer>
